
<div class="container-fluid ">

    <div class="row d-flex justify-content-center">
        <div class="card " style="width: 18rem;">
            <img src="../../../assets/foto-mia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Fernando Luque</h4>
              <p class="card-text">Informacion sobre mi.</p>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center p-3">
        <button class="btn btn-success" (click)="navegarHacia('/home')">Ir hacia atras</button>   
    </div>
   
</div>
    
    
     

