<h1>Ejercicio 1</h1>

<br><br>
<label >Numero 1</label>
<br>
<input type="number" [(ngModel)] = "miOperacion.numero1" >
<br><br>
<label >Numero 2</label>
<br>
<input type="number" [(ngModel)] = "miOperacion.numero2" >
<br>
<label >Suma</label>
<br>
<input type="number" [(ngModel)] = "miOperacion.suma" >
<br>

<label >Promedio</label>
<br>
<input type="text" [(ngModel)] = "miOperacion.promedio" >
<br>
<br>
<button class="btn btn-success" (click) = "miOperacion.calcular()">Calcular</button>

<button class="btn btn-warning" (click) = "miOperacion.limpiar()">Limpiar</button>
<br>



<router-outlet></router-outlet>
